<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Short Link Creation Success</title>
    <style type="text/css">
    span {
        display: inline-block;
        width: 200px;
        text-align: left;
    }

    </style>
</head>
<body>
<div align="center">
    <h2>Short URL Created!</h2>
    <span>Short URL:</span><a th:href="${user.short_url}" th:text="${user.short_url}" target="_blank"/><br/>

    <a href="/register">Return to main menu</a>

</div>
</body>
</html>